html {
  scroll-behavior: smooth;
}
a {
  display: inline-block;
}

// Typography

p,
a,
span,
button,
ul,
ol,
li,
blockquote,
cite
 {
  font-family: $body-font;
  font-size: $body-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
}

h1 {
  font-size: calc(#{$body-font-size} * 2.5);
}

