<section id="cookies-banner" class="cookies-banner bg-gradient py-sm px-lg">
  <h4>This site uses cookies</h4>
  <p class="editable txt-small">Cookies are bits of information that allow us to offer you a modern User Experience when you visit our site. They collect <strong>anonymous user information</strong> while browsing our site, and this information is not shared with any other third party. Cookies allow you to interact with the site and also perform actions such as submit a contact form and get in touch with us.<br/>According to the GDPR-EU law, we must always request your cookie preferences when you visit our site.<br/>Choose from the options below (you can always change your preferences by clicking on the bottom-left button):</p>
  <button id="cookie-consent" class="btn txt-small" tabindex="1">
    Accept all
  </button>
  <button id="cookie-preferences" class="btn-outline--light txt-small" tabindex="1">
    Configure
  </button>
  <div id="cookie-preferences--menu" class="hide">
    <p class="txt-small">Choose below from the cookie types and click "Save & Close" above to save your preferences.</p>
    <p class="txt-bold txt-small">Allow cookies:</p>
    <input type="checkbox" name="Strictly-necessary" id="strictly-necessary" data-consent-type="strictly-necessary">
    <label for="strictly-necessary" class="txt-small">Strictly-necessary</label>
    <input type="checkbox" name="Analytics" id="analytics" data-consent-type="analytics">
    <label for="analytics" class="txt-small">Analytics</label>
    <input type="checkbox" name="Marketing" id="marketing" data-consent-type="marketing">
    <label for="marketing" class="txt-small">Marketing</label>
  </div>
</section>